@import '../../index.scss';

.setListContainer {
    //z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $setlist-font;
    font-weight: 600;
    //font-size: 85%;
}
.trackLink{
    z-index: 5;
}

.stats {
    display: inline-flex;
    position: absolute;
    font-size: 15px;
    height: 13vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: $showlist-font;
    width: 78%;
    margin-top: 1em;
    margin-left: 2em;
}
.head1 {
    font-family: $showlist-font;  //$songlist-font; //$logo-font; 
    font-size: 21px;
    font-weight: 600;
    color: rgb(91, 37, 89);
    width: 68%;
    margin-top: -7vh;
    align-self: flex-end;
    .head2 {
        font-size: 13px;
        font-weight: 700;
    }
    .head3 {
        font-size: 12px;
        font-weight: 800;
    }
}


.setList {
    background-color: whitesmoke;
    opacity: 69%;
    width: 80%;
    margin-top: 7em;
    margin-left: 2.25em; 
    max-height: 69vh;
    font-size: 12px;


    .set {
        margin-top: 1em;
    }
}
