@import '../../index.scss';

.setListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $setlist-font;
    font-weight: 600;
    @include bottom;
    margin-top: -5vh;

}
.trackLink{
    z-index: 5;
}

.stats {
    display: inline-flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: flex-end;
    font-family: $logo-font;
    width: 63%;
    margin-left: 8rem;
    margin-top: -.2rem;
}
.head1 {
    font-family: $logo-font;  //$songlist-font; //$logo-font; 
    font-size: 21px;
    font-weight: 600;
    color: $purple;
    width: 87vw;
    align-self: flex-start;
    overflow-y: visible;
    z-index: 4;
    margin-top: 3.5rem;
    position: absolute;
    .head2 {
        margin-top: -.5vh;
        font-size: 18px;
        font-weight: 700;
    }
    .head3 {
        display: inline;
        font-size: 16px;
        font-weight: 800;
    }
}

.setList {
    background-color: whitesmoke;
    opacity: 76%;
    width: 80%;
    position: absolute;
    margin-top: 10rem;
    margin-left: 2.5em; 
    max-height: 69vh;
    font-size: .85em;
    padding-bottom: 2vh;
    -webkit-box-shadow: 3px 13px 50px 6px rgba(230,99,230,0.55);
    -moz-box-shadow: 3px 13px 50px 6px rgba(230,99,230,0.55);
    box-shadow: 3px 13px 50px 6px rgba(230,99,230,0.55);
    border-radius: 2px;
    overflow: scroll;

    .set {
        margin-top: 1em;
    }
}

.error {
    margin-top: 4rem;
    color: $purple;
}
