@import '../../index.scss';

.songList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    font-family: $setlist-font;
    font-weight: 600;
    //font-size: 85%;
}

.stats {
    display: inline-block;
    position: absolute;
    font-size: 11px;
    margin: 3vh, 0, 0, 40vw;
}
.head1 {
    font-family: $showlist-font;  //$songlist-font; //$logo-font; 
    font-size: 19px;
    font-weight: 600;
    color: rgb(125, 47, 122);
    width: 68%;
    margin: 0, 0, 2em, 35%;
    .head2 {
        font-size: 13px;
        font-weight: 700;
        margin-top: .3vh;
    }
    .head3 {
        font-size: 12px;
        font-weight: 800;
        margin-top: .1vh;
    }
}


.setList {
    background-color: whitesmoke;
    opacity: 69%;
    width: 80%;
    margin-top: 1em;
    margin-left: 2.1em; 
    max-height: 67vh;
    font-size: 12px;


    .set {
        margin-top: 1em;
    }
}
