@import '../../index.scss';

.bandList {
    font-size: 17px;
    font-family: $songlist-font ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 243vh;
}

.list {
    @include bottom;
    max-height: 83vh;
}