@import '../../index.scss';

.bandList {
    font-size: 17px;
    font-family: $songlist-font ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2000px;
}

.list {
    overflow-y: scroll;
    height: 5000px;
    @include bottom;
}