@import '../../index.scss';

.songList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2em;
    font-family: $setlist-font;
    font-weight: 600;
    //font-size: 85%;
}
.head {
    font-family: $logo-font; //$songlist-font;
    font-size: 28px;
    font-weight: 600;
    color: rgb(125, 47, 122);
    margin-bottom: 1em;
}