@import '../../index.scss';

a {
  color: #7fe2c2e0;
}
.trackContainer {
    @include bottom;  
    height: 60vh;
    padding-bottom: 10vh;
}

.songList {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: .25em;
    font-family: $logo-font;
    font-weight: 600;
    font-size: 21px;
}

.songSingle {
    z-index: 5;
}

.headSongs {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0;
}

.instructions {
    width:72%;
    margin-left: 15vw;
    margin-top: 2em;
}

li {
    text-decoration: none;
}

.songs-back {
   position: absolute;
   margin-top: 10vh; 
   margin-left: 18.5vw;
   z-index: 5;
}
@media only screen and (min-width: 800px) {
  .trackContainer {
    display: flex;
    flex-direction: column; 
    margin-left: 73vw;
    margin-top: -8em;
    width: 100%;
    height: 80.5vh;
  }

  

  .trackContainer > * {
    //flex: 1 1 100%;    
  }
  .songSingle {
    margin-left: -78vw;
  }
  
}

