@import '../../index.scss';

.trackContainer {
    @include bottom;  
    height: 59vh;
}
.songList {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: .25em;
    font-family: $logo-font;
    font-weight: 600;
    font-size: 21px;
}

p {
    color: $purple;
}

.songSingle {
    z-index: 5;
    font-family: $logo-font
}
.headSongs {
    font-family: $logo-font; 
    font-size: 27px;
    font-weight: 600;
    color: $purple;
    margin-bottom: 0;
}

.instructions {
    color: $purple;
    width:72%;
    margin-left: 15vw;
}

li {
    text-decoration: none;
}

.songs-back {
   position: absolute;
   margin-top: 8.4vh; 
   margin-left: 5.2vw;
   z-index: 5;
}
@media only screen and (min-width: 700px) {
  .trackContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
  }
  .trackContainer > * {
    flex: 1 1 100%;    
  }
  .songSingle {
      width: 10vw;
  }
  
}