.App {
  text-align: center;
}

.App::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 31; 
  z-index: -1;
  background-position: center bottom;
  background-repeat: repeat;
  background-image: url('../assets/©SilkyShots2020-colorado.webres-1428.jpg');
  background-size: contain;
  background-attachment: fixed;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

