@import '../../index.scss';

.playList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $logo-font;
}

.plays{
    
}

.playsContainer{
    @include bottom;
    height: 55vh;
}

.title {
    font-size: 25px;
    font-weight: 800;
    font-family: $logo-font;
    color: $purpleLight
}
.playCount {
    margin-top: -.2em;
    margin-bottom: .3em;
    font-size: 17px;
    font-weight: 800;
    font-family: $logo-font;
    color: $purpleLight
}
.play {
    z-index: 5;
    font-size: 27px;
    margin-bottom: .25em;  
}

.venue {
    font-size: 21px;
    text-decoration: none;
    z-index:5;
    margin-bottom: -1.5vh;
}

.locDate {
    font-size: 16px;
    font-weight: 800;
    color: $purple
}

.head {
    font-family: $logo-font;
    font-size: 21px;
    font-weight: 700;
    margin-top: -.3em;
    margin-bottom: 0;
    color: $purpleLight;
}

.back-button {
   position: absolute;
   margin-top: 9vh; 
   margin-left: 5vw;
   z-index: 5;
}

.back {
    width: 10vw;
}

.favorite-button {
  z-index: 5;
  position: absolute;
  display: inline;
  border: none;
  font-family: $songlist-font;
  font-weight:  600;
  text-transform: none;
  padding: 0;
  width: 16vw;
  height: 12vh;
  margin-left: 26.5em;
  font-size: 12px;
  .heart {
     margin-top: 6em; 
     margin-left: 1em;
  }
  .add {
    margin-top: -2.5vh;
    margin-left: -.25em;
    color: $purple
  }
}

.songImg {
   max-width: 24vw;
   margin-left: 38vw; 
   margin-top: -7vh;
   margin-bottom: 1em;
}

@media only screen and (min-width: 700px) {
  .songImg {
   position: absolute;
   max-width: 23vw;
   margin-left: 10vw; 
   margin-top: 52vh;
    
  }
  .favorite-button {
    margin-left: 73vw;
    margin-top: 23vh; 
  }

  .back-button {
    margin-top: 38vh;
    margin-left: 18.5vw;
    z-index: 5;
  }

  .back {
    width: 6vw;
  }

  .heart {
     margin-top: -1vh; 
     margin-left: 1em;
     width: 7vw;
  }
  .add {
    margin-top: -10vh;
    margin-left: -1.25em;
    color: $purple
  }
  .playList{
      margin-top: -27vh;
  }

  .title {
    margin-top: 20vh;
  }
}

