@import '../../index.scss';

.tourList {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    z-index: 4;
    @include bottom;
    height: 63vh;
    padding-bottom: 20vh;
}

.tourSingle {
    margin-bottom: 1em;
}

.tourBandName {
    margin-top: .5em;
    font-size: 32px;
}  