@import '../../index.scss';

.tourList {
    font-size: 20px;
    font-family: $showlist-font ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    height: 500px;
}

.tourSingle {
    margin-bottom: 1em;
}

.bandName {
    margin-bottom: 2em;

}