@import '../../index.scss';

.tourList {
    font-size: 20px;
    font-family: $logo-font ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    z-index: 4;
    color: $purple;
    @include bottom;
    height: 78vh;
}

.tourSingle {
    margin-bottom: 1em;
}

.tourBandName {
    margin-top: .5em;
    font-size: 32px;
}  