@import '../../index.scss';

.playCount {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  font-size: 9px;
}

.plays {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  font-size: 16px;
  color: $purple;
}