@import '../../index.scss';

.topSongTitle {
  display:flex;
  justify-content: flex-end;
  width: 86vw;
}

.playCounter {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 18px;
  color: $purple;
  margin: 1em -1em 1em 9vw;
}

.playCounts {
  margin-left: 10vw;
  font-size: 22px;
  color: $purple;
}