@import '../../index.scss';

header {
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    margin-top: .5em;
    margin-left: .5em;
    font-size: 31px;
    z-index: -5;
    width: 20px;
}

.homeLink{
    z-index: 1;
}

.title {
    font-size: 27px; 
    text-decoration:overline;
    animation: color-change 15s 1;
    animation-delay: 3s;
}


.star {
    margin-top: -20vh;
    height: 1em;
}