@import '../../index.scss';

header {
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    margin-top: .5em;
    margin-left: .5em;
    font-family: $logo-font;
    font-size: 31px
}

.homeLink{
    z-index: 5;
}