@import '../../index.scss';

.showsContainer {
    font-size: 20px;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    position: 0;
    z-index: 4;
    justify-content: flex-start;
    @include bottom;
    height: 80vh;
}

.showsList {
    height: 16rem;
}

.showSingle {
    margin-bottom: 1em;
    font-size: 21px;
    margin-left: 2em;
}

.bandName {
    margin-top: .4vh;
    margin-bottom: 0;
    font-size: 26px;
}

.backTour {
    margin-top: 0;
}

.tour {
    font-size: 17px;
    margin-left: 20.7em;
    width: 1em;
}

@media only screen and (min-width: 800px) {
    .tour {
        margin-left: 42em;
    }
    
}