@import '../../index.scss';

.showsContainer {
    font-size: 20px;
    font-family: $showlist-font ;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.showList {
    
}

.showSingle {
    overflow-y: scroll;
    margin-bottom: 1em;
}

.bandName {
    margin-top: .4vh;
    margin-bottom: .5em;
    font-size: 26px;

}