@import '../../index.scss';

.showsContainer {
    font-size: 20px;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
}

.showList {
   @include bottom; 
}

.showSingle {
    margin-bottom: 1em;
}

.bandName {
    margin-top: .4vh;
    margin-bottom: 0;
    font-size: 26px;
}