@import '../../index.scss';


.dashImg {
  max-width: 54vw;
  margin-left: 0; 
  margin-top: 0vh;
  z-index: 5;
}

.dashName {
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.bands {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  margin-top: 18vh;
  margin-left: -16vw;
  color: $purple;
}