@import '../../index.scss';


.dashImg {
  max-width: 54vw;
  margin-left: 0; 
  margin-top: -5vh;
  z-index: 5;
}

.dashName {
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.dash-container {
  display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: 5.5vh;
    font-family: $logo-font;
    font-size: 27px;
    z-index: 5;
    height: 200px;
}


@media only screen and (min-width: 700px) {
  .bands {
    margin-top: 18vh;
    margin-left: -6vw;
  }


  .navImg {
    position: absolute;
    margin-left: 4vw; 
    margin-top: 36vh;
  }
  
}

@media only screen and (max-width: 500px) {

  // .dashImg {
  // margin-top: 2vh;
  // }
}