@import '../../index.scss';
footer {
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  display: flex;
  justify-content: space-around;
  a {
      font-size: 29px;
      color: whitesmoke;
      &:hover {
          font-size:27px;
      }
  }
}

.activeLink {
  font-size:27px;
  animation: color-change 11s 1;
  animation-delay: 3s;
}

@keyframes color-change {
  0% { color: $purple; }
  50% { color: lightgreen; }
  100% { color: $purple; }
}

.monster {
  background-color: $purple;
  color: whitesmoke;
  border-radius: 50px;
  margin-top: 5px;

}
