@import '../../index.scss';

form {
    z-index: 5;
    margin: 2vh;
}

.purpleButton {
    background-color: $purple;
    color: ivory
}

input {
    height: 3.5vh;
    width: 49vw;
    text-align: center;
}