@import '../../index.scss';

form {
    z-index: 5;
    margin: 2vh;
}

.purpleButton {
    background-color: $purple;
    color: ivory;
    margin-left: -2vw;
    height: 5.7vh;
}

.searchbar {
    background-color: #71316e;
    color: ivory;
    font-weight: 600;
    height: 3vh;
}

input {
    height: 3.5vh;
    width: 28vw;
    text-align: center;
}

// @media only screen and (min-width: 700px) {
//     .purpleButton {
//       margin-left: 67vw;
//     }
// }