@import '../../index.scss';

.showList{
    position: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include bottom;
    height: 80vh;

}



.showContainer {
    font-size: 20px;
    font-family: $logo-font ;
    padding: 8px;
    color: $purple;
    max-height: 2000px;
    
}

.bandName {
    margin-top: 1em;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0em;
    font-family: $logo-font;
    color: $purple;
}
    
