@import '../../index.scss';

.showList{
    position: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
    overflow-y: scroll;
    max-height: 2000px;
}



.showContainer {
    font-size: 20px;
    font-family: $showlist-font ;
    padding: 8px;
    color: $purple
    
    // overflow-y: scroll;
    // max-height: 2000px;
    
}

.bandName {
    margin-top: 1em;
    font-size: 25px;
    margin-bottom: 1em;
}
    
