@import '../../index.scss';

.showList{
    position: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include bottom;
    height: 80vh;
}

.showContainer {
    font-size: 20px;
    padding: 8px;
    max-height: 2000px;   
}

.bandName {
    margin-top: 1em;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0em;
}
    
.forward {
    transform: scaleX(-1);
}