//@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Permanent+Marker&family=Satisfy&display=swap');
$logo-font: 'Satisfy', cursive;
$songlist-font: 'Krona One', sans-serif;
$setlist-font: 'Permanent Marker';
$showlist-font: 'Orelega One', cursive;
