@import '../../index.scss';
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: 6vh;
    font-family: $logo-font;
    font-size: 27px;
    z-index: 5;
    height: 200px;
}

.name {
    color: $purple;
    font-size: 39px;
    font-weight: 600;
    font-family: $logo-font ;
    height: 100%;
}

.navImg {
   max-width: 32vw;
   margin-left: 34vw; 
   margin-top: -5vh;
   z-index: 5;
}

@media only screen and (max-width: 500px) {
  img {
    margin-left: 10vw;
  }
}

@media only screen and (min-width: 500px) {
  .page-container {
    margin-top: -1em;
  }
  .navImg {
    position: absolute;
    margin-left: 1vw;

  }

}