@import '../../index.scss';
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    margin-top: 6vh;
    font-family: $logo-font;
    font-size: 27px;
    z-index: 5;
    height: 200px;
}

.name {
    font-size: 39px;
    font-weight: 600;
    height: 100%;
}

.dashImg {
   max-width: 54vw;
   margin-left: 0; 
   margin-top: 4vh;
   z-index: 5;
}

.navImg {
   max-width: 54vw;
   margin-left: 21vw; 
   margin-top: 0vh;
   z-index: 5;
}

a:link {
  text-decoration: none;
}
// a:hover {
//   color: #bf16b7;
// }

@media only screen and (max-width: 500px) {
  .navImg {
    margin-left: 22vw;
    max-width: 54vw;
  }
}

@media only screen and (min-width: 700px) {
  .page-container {
    margin-top: -1em;
  }
  .navImg {
    position: absolute;
    margin-left: 1vw;
  }
}